Options -Indexes +FollowSymLinks
DirectoryIndex index.html

<Files "index.html">
  Order Allow,Deny
  Allow from all
</Files>

# Allow access to asset folders
<Directory ~ "(_astro|blog|contact|services)">
  Order Allow,Deny
  Allow from all
</Directory>